@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #232323 !important;
}
.bg-success {
  background-color: #fff000 !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #fff000 !important;
  border-color: #fff000 !important;
  color: #000000 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #000000 !important;
  background-color: #b3a800 !important;
  border-color: #b3a800 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #000000 !important;
  background-color: #b3a800 !important;
  border-color: #b3a800 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #232323;
  border-color: #232323;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #999000;
  color: #999000;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000;
  background-color: #fff000;
  border-color: #fff000;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #000000 !important;
  background-color: #fff000 !important;
  border-color: #fff000 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #232323 !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #fff000 !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #999000 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #232323;
  border-color: #232323;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #232323;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fffccc;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #232323;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #232323;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #232323;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #232323;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #232323 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23232323' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-s7mYAs5iCc {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #232323;
}
.cid-s7mYAs5iCc P {
  color: #767676;
}
.cid-s7mYAs5iCc H1 {
  color: #ffffff;
  text-align: center;
}
.cid-s7mYAs5iCc H3 {
  color: #ffffff;
}
.cid-s7mXkfwwat {
  background: #9100ff;
  padding-top: 30px;
  padding-bottom: 0px;
  background: linear-gradient(0deg, #9100ff, #fff000);
}
.cid-s7mXkfwwat .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-s7mXkfwwat .video-block {
    width: 100% !important;
  }
}
.cid-s7n1jM8sHa {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #9100ff;
}
.cid-s7n3hH42ap {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff000;
}
.cid-s7n3hH42ap .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-s7n3hH42ap .number-wrap {
  color: #4f4943;
  border-color: rgba(255, 255, 255, 0.15);
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 10px 13px 10px;
  margin: 0;
  min-width: 118px;
  border-radius: 2px;
  max-width: 100%;
}
.cid-s7n3hH42ap .number {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  text-transform: none;
  letter-spacing: -2px;
  word-spacing: 0;
  line-height: 1.3;
  color: #232323;
}
.cid-s7n3hH42ap .period {
  display: block;
  padding-top: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cid-s7n3hH42ap .dot {
  position: absolute;
  top: -10px;
  right: -1em;
  width: 1em;
  display: block;
  height: 83%;
  overflow: hidden;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 89.65px;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  color: #232323;
}
.cid-s7n3hH42ap .countdown-cont {
  max-width: 700px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-s7n3hH42ap .dot {
    display: none;
  }
}
@media (max-width: 543px) {
  .cid-s7n3hH42ap .number-wrap {
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  .cid-s7n3hH42ap .col-xs-3 {
    padding-left: 0;
    padding-right: 0;
    max-width: 25%;
    flex: 0 0 25%;
  }
  .cid-s7n3hH42ap .number-wrap {
    min-width: auto;
  }
}
@media (max-width: 440px) {
  .cid-s7n3hH42ap .number,
  .cid-s7n3hH42ap .dot {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .cid-s7n3hH42ap .period {
    font-size: 0.8rem;
  }
}
.cid-s7naC8MjuD {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #232323;
}
.cid-s7naC8MjuD h2 {
  text-align: center;
}
.cid-s7naC8MjuD h3 {
  text-align: center;
  font-weight: 300;
}
.cid-s7naC8MjuD p {
  color: #767676;
}
.cid-s7naC8MjuD img {
  object-fit: cover;
}
.cid-s7naC8MjuD .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-s7naC8MjuD .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-s7naC8MjuD .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
.cid-s7naC8MjuD .mbr-section-subtitle {
  color: #767676;
}
.cid-s7naC8MjuD .card-title {
  font-weight: 500;
}
.cid-s7naC8MjuD .card-img {
  text-align: inherit;
}
.cid-s7naC8MjuD .card-img span {
  font-size: 48px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-s7naC8MjuD .mbr-figure {
    padding-right: 2rem;
    padding-left: 2rem;
    height: 100%;
  }
}
@media (max-width: 991px) {
  .cid-s7naC8MjuD .mbr-figure {
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-s7naC8MjuD .block-content {
    flex-direction: row;
    -webkit-flex-direction: row;
    text-align: center;
  }
  .cid-s7naC8MjuD .block-content .card {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }
  .cid-s7naC8MjuD .card:nth-child(1) {
    padding-bottom: 0!important;
  }
}
.cid-s7naC8MjuD .mbr-section-title {
  color: #ffffff;
}
.cid-s7naC8MjuD .mbr-crt-title {
  color: #ffffff;
}
.cid-s7naC8MjuD .mbr-section-text {
  color: #ffffff;
}
.cid-s7nj3gW5vf {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #232323;
}
.cid-s7nj3gW5vf h4 {
  text-align: left;
  font-weight: 500;
}
.cid-s7nj3gW5vf p {
  color: #767676;
  text-align: left;
}
.cid-s7nj3gW5vf .card-img {
  text-align: left;
  padding-right: 30px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: auto;
}
.cid-s7nj3gW5vf .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-s7nj3gW5vf .card-title {
  margin-bottom: 0;
}
.cid-s7nj3gW5vf .mbr-crt-title {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-s7nj3gW5vf .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
@media (max-width: 300px) {
  .cid-s7nj3gW5vf .card-img span {
    font-size: 40px !important;
  }
}
.cid-s7nj3gW5vf .card-title,
.cid-s7nj3gW5vf .card-img {
  color: #ffffff;
}
.cid-s7nj3gW5vf P {
  color: #ffffff;
}
.cid-s7nk0ywD5b {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-s7nk0ywD5b .testimonial-text {
  font-style: italic;
  font-weight: 300;
  color: #ffffff;
}
.cid-s7nk0ywD5b .mbr-author-name {
  font-weight: bold;
}
.cid-s7nk0ywD5b .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-s7nk0ywD5b .mbr-figure,
  .cid-s7nk0ywD5b img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-s7nk0ywD5b .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-s7nkXPS3QB {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-s7nkXPS3QB .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
  font-weight: 300;
}
.cid-s7nkXPS3QB .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #efefef;
  margin-right: 2rem;
  transition: all .4s;
}
.cid-s7nkXPS3QB .timeline-text-content p {
  margin-bottom: 0;
}
.cid-s7nkXPS3QB .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-s7nkXPS3QB .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-s7nkXPS3QB .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-s7nkXPS3QB .reverse .timeline-text-content {
  margin-left: 2rem;
  margin-right: 0;
}
.cid-s7nkXPS3QB .iconsBackground {
  position: absolute;
  left: 50%;
  width: 60px;
  height: 60px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background-color: #efefef;
  top: 20px;
  margin-left: -30px;
}
.cid-s7nkXPS3QB .mbr-iconfont {
  position: absolute;
  text-align: center;
  font-size: 35px;
  display: inline-block;
  z-index: 3;
  top: 13px;
  left: 13px;
}
.cid-s7nkXPS3QB .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #efefef;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-s7nkXPS3QB .iconsBackground {
    left: 1.5rem;
  }
  .cid-s7nkXPS3QB .separline:before {
    left: calc(1.5rem - 1px);
  }
  .cid-s7nkXPS3QB .timeline-text-content {
    margin-left: 3rem !important;
    margin-right: 0 !important;
  }
  .cid-s7nkXPS3QB .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-s7nkXPS3QB .reverseTimeline {
  display: flex;
  flex-direction: column-reverse;
}
.cid-s7nkXPS3QB .mbr-section-title {
  color: #ffffff;
}
.cid-s7nkXPS3QB .mbr-timeline-text {
  color: #232323;
}
.cid-s7nkXPS3QB .mbr-timeline-title {
  color: #232323;
}
.cid-s7nsX6UJyn {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #232323;
}
.cid-s7nsX6UJyn .mbr-section-subtitle {
  color: #efefef;
  text-align: center;
  font-weight: 300;
}
.cid-s7nsX6UJyn .step {
  width: 72px;
  height: 72px;
  font-size: 36px;
  border-radius: 50%;
  border: 2px solid #efefef;
  padding-bottom: 0;
  color: #ffffff;
}
@media (min-width: 768px) {
  .cid-s7nsX6UJyn .separline .step-wrapper {
    position: relative;
  }
  .cid-s7nsX6UJyn .separline .step-wrapper:before,
  .cid-s7nsX6UJyn .separline .step-wrapper:after {
    top: 38px;
    position: absolute;
    content: "";
    height: 2px;
    width: calc(50% + 15px - 36px - 8px);
    background-color: #efefef;
  }
  .cid-s7nsX6UJyn .separline .step-wrapper:before {
    left: -15px;
  }
  .cid-s7nsX6UJyn .separline .step-wrapper:after {
    left: calc(50% + 8px + 36px);
  }
  .cid-s7nsX6UJyn .separline.last-child .step-wrapper:after,
  .cid-s7nsX6UJyn .separline:nth-child(3n) .step-wrapper:after,
  .cid-s7nsX6UJyn .separline:nth-child(3n+1) .step-wrapper:before {
    background: none;
  }
}
@media (max-width: 767px) {
  .cid-s7nsX6UJyn .card:not(.last-child) {
    padding-bottom: 1.5rem;
  }
}
.cid-s7nsX6UJyn .mbr-section-title {
  color: #ffffff;
}
.cid-s7nsX6UJyn .mbr-step-title {
  color: #ffffff;
}
.cid-s7ntJKjsCT {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-s7ntJKjsCT .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-s7ntJKjsCT .step {
  width: 64px;
  height: 64px;
  font-size: 32px;
  border-radius: 50%;
  border: 2px solid #efefef;
}
@media (max-width: 767px) {
  .cid-s7ntJKjsCT .step {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
}
.cid-s7ntJKjsCT .separline {
  position: relative;
}
.cid-s7ntJKjsCT .separline:after {
  top: 68px;
  left: 30px;
  position: absolute;
  content: "";
  width: 2px;
  height: calc(100% - (32px + 4px) * 2);
  background-color: #efefef;
}
@media (max-width: 767px) {
  .cid-s7ntJKjsCT .separline:after {
    top: 52px;
    left: 22px;
    height: calc(100% - 56px);
  }
}
.cid-s7ntJKjsCT .mbr-step-title {
  color: #ffffff;
}
.cid-s7ntJKjsCT .mbr-step-text {
  color: #efefef;
}
.cid-s7nv5mr12j {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-s7nv5mr12j .mbr-text,
.cid-s7nv5mr12j blockquote {
  color: #767676;
}
.cid-s7nv5mr12j DIV {
  color: #ffffff;
}
.cid-s7nvlxa33L {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-s7nvlxa33L .mbr-text {
  color: #767676;
}
.cid-s7nvlxa33L .mbr-text p {
  background: #ffffff;
}
.cid-s7nwa0mC9I {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-s7nwa0mC9I .mbr-text {
  color: #232323;
}
.cid-s7nwSmvPvi {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
@media (min-width: 992px) {
  .cid-s7nwSmvPvi .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-s7nwSmvPvi .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-s7nwSmvPvi .mbr-text {
  color: #232323;
}
.cid-s7nARnhXAy {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
@media (min-width: 992px) {
  .cid-s7nARnhXAy .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-s7nARnhXAy .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-s7nARnhXAy .mbr-text {
  color: #232323;
}
.cid-s7nBDkPwX2 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
@media (min-width: 992px) {
  .cid-s7nBDkPwX2 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-s7nBDkPwX2 .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-s7nBDkPwX2 .mbr-text {
  color: #232323;
}
.cid-s7nC36xbam {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
@media (min-width: 992px) {
  .cid-s7nC36xbam .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-s7nC36xbam .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-s7nC36xbam .mbr-text {
  color: #232323;
}
.cid-s7ozXuefLa {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
@media (min-width: 992px) {
  .cid-s7ozXuefLa .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-s7ozXuefLa .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-s7ozXuefLa .mbr-text {
  color: #232323;
}
.cid-s7oARVW3JS {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
@media (min-width: 992px) {
  .cid-s7oARVW3JS .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-s7oARVW3JS .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-s7oARVW3JS .mbr-text {
  color: #232323;
}
.cid-s7oCbjalwY {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-s7oCbjalwY .mbr-section-subtitle {
  color: #767676;
}
.cid-s7oCBP2SXc {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-s7oCBP2SXc .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-s7oCBP2SXc .section-text {
  padding: 2rem 0;
}
.cid-s7oCBP2SXc .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-s7oCBP2SXc .inner-container {
    width: 100% !important;
  }
}
.cid-s7oD6jVT4d {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #232323;
}
.cid-s7oD6jVT4d h3 {
  text-align: center;
  font-weight: 300;
}
.cid-s7oD6jVT4d .wrap {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.cid-s7oD6jVT4d .mbr-section-subtitle {
  color: #ffffff;
}
.cid-s7oD6jVT4d .card {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  word-wrap: break-word;
}
.cid-s7oD6jVT4d ellipse {
  stroke: rgba(206, 206, 206, 0.4);
}
.cid-s7oD6jVT4d path {
  stroke: #149dcc;
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-s7oD6jVT4d .card {
    -webkit-flex-basis: 33%;
    flex-basis: 33%;
  }
}
.cid-s7oD6jVT4d .mbr-section-title {
  color: #ffffff;
}
.cid-s7oD6jVT4d P {
  color: #ffffff;
}
.cid-s7oD6jVT4d H4 {
  color: #ffffff;
}
.cid-s7p58Fc7D0 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #232323;
}
.cid-s7p58Fc7D0 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-s7p58Fc7D0 .media-row {
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-s7p58Fc7D0 .team-item {
  transition: all .2s;
  margin-bottom: 2rem;
}
.cid-s7p58Fc7D0 .team-item .item-image img {
  width: 100%;
}
.cid-s7p58Fc7D0 .team-item .item-name p {
  margin-bottom: 0;
}
.cid-s7p58Fc7D0 .team-item .item-role p {
  margin-bottom: 0;
}
.cid-s7p58Fc7D0 .team-item .item-social {
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
}
.cid-s7p58Fc7D0 .team-item .item-social .socicon {
  color: #232323;
  font-size: 17px;
}
.cid-s7p58Fc7D0 .team-item .item-caption {
  background: #efefef;
}
.cid-s7p58Fc7D0 H2 {
  color: #ffffff;
}
.cid-s7t4Eb49V7 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #232323;
}
.cid-s7t4Eb49V7 .mbr-section-subtitle {
  color: #767676;
}
.cid-s7t4Eb49V7 .media-row {
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-s7t4Eb49V7 .team-item {
  transition: all .2s;
  margin-bottom: 2rem;
}
.cid-s7t4Eb49V7 .team-item .item-image img {
  width: 100%;
}
.cid-s7t4Eb49V7 .team-item .item-name p {
  margin-bottom: 0;
}
.cid-s7t4Eb49V7 .team-item .item-role p {
  margin-bottom: 0;
}
.cid-s7t4Eb49V7 .team-item .item-social {
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
}
.cid-s7t4Eb49V7 .team-item .item-social .socicon {
  color: #232323;
  font-size: 17px;
}
.cid-s7t4Eb49V7 .team-item .item-caption {
  background: #efefef;
}
.cid-s7t57k5ILa {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #232323;
}
.cid-s7t57k5ILa .mbr-section-subtitle {
  color: #767676;
}
.cid-s7t57k5ILa .media-row {
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-s7t57k5ILa .team-item {
  transition: all .2s;
  margin-bottom: 2rem;
}
.cid-s7t57k5ILa .team-item .item-image img {
  width: 100%;
}
.cid-s7t57k5ILa .team-item .item-name p {
  margin-bottom: 0;
}
.cid-s7t57k5ILa .team-item .item-role p {
  margin-bottom: 0;
}
.cid-s7t57k5ILa .team-item .item-social {
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
}
.cid-s7t57k5ILa .team-item .item-social .socicon {
  color: #232323;
  font-size: 17px;
}
.cid-s7t57k5ILa .team-item .item-caption {
  background: #efefef;
}
.cid-s7t5FfCG9y {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #232323;
}
.cid-s7t5FfCG9y .mbr-section-subtitle {
  color: #767676;
}
.cid-s7t5FfCG9y .media-row {
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-s7t5FfCG9y .team-item {
  transition: all .2s;
  margin-bottom: 2rem;
}
.cid-s7t5FfCG9y .team-item .item-image img {
  width: 100%;
}
.cid-s7t5FfCG9y .team-item .item-name p {
  margin-bottom: 0;
}
.cid-s7t5FfCG9y .team-item .item-role p {
  margin-bottom: 0;
}
.cid-s7t5FfCG9y .team-item .item-social {
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
}
.cid-s7t5FfCG9y .team-item .item-social .socicon {
  color: #232323;
  font-size: 17px;
}
.cid-s7t5FfCG9y .team-item .item-caption {
  background: #efefef;
}
.cid-s7t6bl0Ham {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #232323;
}
.cid-s7t6bl0Ham .mbr-section-subtitle {
  color: #ffffff;
}
.cid-s7t6bl0Ham H2 {
  color: #ffffff;
}
.cid-s7t6K45qfJ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-s7t6K45qfJ .counter-container {
  color: #767676;
}
.cid-s7t6K45qfJ .counter-container ol {
  margin-bottom: 0;
  counter-reset: myCounter;
}
.cid-s7t6K45qfJ .counter-container ol li {
  margin-bottom: 1rem;
}
.cid-s7t6K45qfJ .counter-container ol li {
  list-style: none;
  padding-left: .5rem;
  position: relative;
}
.cid-s7t6K45qfJ .counter-container ol li:before {
  position: absolute;
  left: -56px;
  margin-top: -10px;
  counter-increment: myCounter;
  content: counter(myCounter);
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 40px;
  transition: all .2s;
  color: #ffffff;
  background: #149dcc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cid-s7tkHvJQKO {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-s7tkHvJQKO p {
  color: #767676;
}
.cid-s7tkHvJQKO .mbr-section-subtitle {
  color: #767676;
}
.cid-s7tkHvJQKO .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-s7tkHvJQKO .panel-group {
  width: 100%;
}
.cid-s7tkHvJQKO .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-s7tkHvJQKO .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-s7tkHvJQKO .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-s7tkHvJQKO .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-s7tkHvJQKO .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-s7tkHvJQKO .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-s7tkHvJQKO .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
}
@media (max-width: 991px) {
  .cid-s7tkHvJQKO .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
  }
}
.cid-s7n5eA819W {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-s7n5eA819W .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-s7n5eA819W .step {
  width: 64px;
  height: 64px;
  font-size: 32px;
  border-radius: 50%;
  border: 2px solid #efefef;
}
@media (max-width: 767px) {
  .cid-s7n5eA819W .step {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
}
.cid-s7n5eA819W .separline {
  position: relative;
}
.cid-s7n5eA819W .separline:after {
  top: 68px;
  left: 30px;
  position: absolute;
  content: "";
  width: 2px;
  height: calc(100% - (32px + 4px) * 2);
  background-color: #efefef;
}
@media (max-width: 767px) {
  .cid-s7n5eA819W .separline:after {
    top: 52px;
    left: 22px;
    height: calc(100% - 56px);
  }
}
.cid-s7n5eA819W .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-s7n5eA819W .media-block {
    padding-right: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-s7n5eA819W .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-bottom: 2rem;
  }
}
.cid-s7ufq7bn15 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #fff000;
}
.cid-s7ufq7bn15 .mbr-section-subtitle {
  color: #232323;
  font-weight: 300;
}
.cid-s7ufq7bn15 .number-wrap {
  color: #4f4943;
  border-color: rgba(255, 255, 255, 0.15);
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 10px 13px 10px;
  margin: 0;
  min-width: 118px;
  border-radius: 2px;
  max-width: 100%;
}
.cid-s7ufq7bn15 .number {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  text-transform: none;
  letter-spacing: -2px;
  word-spacing: 0;
  line-height: 1.3;
  color: #232323;
}
.cid-s7ufq7bn15 .period {
  display: block;
  padding-top: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cid-s7ufq7bn15 .dot {
  position: absolute;
  top: -10px;
  right: -1em;
  width: 1em;
  display: block;
  height: 83%;
  overflow: hidden;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 89.65px;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  color: #232323;
}
.cid-s7ufq7bn15 .countdown-cont {
  max-width: 700px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-s7ufq7bn15 .dot {
    display: none;
  }
}
@media (max-width: 543px) {
  .cid-s7ufq7bn15 .number-wrap {
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  .cid-s7ufq7bn15 .col-xs-3 {
    padding-left: 0;
    padding-right: 0;
    max-width: 25%;
    flex: 0 0 25%;
  }
  .cid-s7ufq7bn15 .number-wrap {
    min-width: auto;
  }
}
@media (max-width: 440px) {
  .cid-s7ufq7bn15 .number,
  .cid-s7ufq7bn15 .dot {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .cid-s7ufq7bn15 .period {
    font-size: 0.8rem;
  }
}
.cid-s7ufsG0uIz {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #efefef;
}
.cid-s7ufsG0uIz .mbr-section-subtitle {
  color: #232323;
}
.cid-s7ufsG0uIz H2 {
  color: #232323;
}
.cid-s7ugVoRzsF {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-s7ueO0rG8R {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-s7ueO0rG8R .mbr-text {
  color: #232323;
  margin: 0;
  padding-top: 1.5rem;
}
.cid-s7ueO0rG8R div.b {
  padding-top: 2rem;
}
.cid-s8fR2Nxsby {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-s8fR2Nxsby .mbr-text,
.cid-s8fR2Nxsby blockquote {
  color: #767676;
}
.cid-s7n6u4DzRh {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-s7n6u4DzRh .row-links {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s7n6u4DzRh .social-row {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s7n6u4DzRh .media-container-row {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s7n6u4DzRh .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-s7n6u4DzRh .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-s7n6u4DzRh .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-s7n6u4DzRh .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-s7n6u4DzRh .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-s7n6u4DzRh .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-s7n6u4DzRh .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-s7n6u4DzRh .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-s7n6u4DzRh .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-s7n6u4DzRh .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-s7n6u4DzRh .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-s7n6u4DzRh foot-menu-item {
  text-align: right;
}
